nav {
      background-color:lightblue;
      list-style-type: none;
      padding: 10px;
    }

body{
  background-color:lightblue;
  text-align:justify;
}
h1{
      background-color:lightblue
      color:blue;
      text-align:center;
  }
  
h2{
      background-color:lightblue
      color:blue;
      text-align:center;
  }

p {
      background-color:lightblue
      text-align:center;
      margin: 400px;

.Honours{
      width:device-width;
      height:auto;
      background-color: red;
      border-style: none;
}

iframe {
      display: block;
      margin: 0 auto;


a{
    color: white;
    padding: 8px 6px;
    text-align: center; 
    text-decoration: none;
    border-radius: 4px;
}


