nav {
      background-color:lightblue;
      list-style-type: none;
      padding: 10px;
    }

h1{
      color:blue;
      text-align:center;
  }
  
h2{
      color:blue;
      text-align:justify;
  }

p {
      text-align:center;
  }

.Honours{
      width:device-width;
      height:auto;
      background-color: red;
      border-style: none;
}

iframe {
      display: block;
      margin: 0 auto;


a{
    color: white;
    padding: 8px 6px;
    text-align: center; 
    text-decoration: none;
    border-radius: 4px;
}


div>ol{
    color: navy;
    font: 400 20px/1.2 'Great Vibes', Helvetica, sans-serif;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
    }
